@tailwind base;
@layer base {
  *, *::before, *::after {
  box-sizing: border-box;
  }
  html {
    font-family: Noto Sans, system-ui, sans-serif;
  }
  img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
  .xScrollBar::-webkit-scrollbar{
    display: none;
  }
  [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{border-color:white;}
}
@tailwind components;
@layer components {
  .btn{
    line-height: 1.5;
    font-size: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn:hover{
    opacity: 0.6;
  }
  @media (min-width: 768px) {
    .btn{
      padding: 24px 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@tailwind utilities;
@layer utilities {
  .stickyFooter {
    margin-top: auto;
  }
}
:root{
  --primary-green:#62DB54;
  --swiper-navigation-size:20px;
}
/* hamburger 動畫 */
.hamburgerActive::before{
  transform: translateY(0) rotate(45deg) !important;
  box-shadow: 0 0 white !important;
  transition: 0.5s !important;
}
.hamburgerActive::after{
  transform: translateY(0) rotate(-45deg) !important;
  transition: 0.5s !important;
}
.hamburgerActive:hover::before{
  box-shadow: 0 0 var(--secondary) !important;
  transition: 0.5s !important;
}
/* nav 選單滑出動畫 */
.navActive{
  opacity: 1;
  top: 145%;
  z-index: 50;
  transition: 0.5s;
}
/*swiper*/

.swiper {
  width: 100%;
  height: auto;
}
@media (min-width: 640px) {
  .swiper {
  width: 90%;
}
}
@media (min-width: 768px) {
  .swiper {
  width: 85%;
  }
}
@media (min-width: 1024px) {
  .swiper {
  width: 70%;
  height: 66vh;
  }
}
@media (min-width: 1280px) {
  .swiper {
  width: 64.2%;
  }
}

.swiper-slide{
  height: 100%;
  width: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom:0;
    left: 50%;
    transform:translateX(-50%);
    width: 100%;
    z-index:0
}
@media (min-width: 1024px) {
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: 25%;
}
}
.swiper-button-next, .swiper-button-prev{
  bottom:0;
  top: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 16%;
  right: auto;
  transform:translateX(-50%);
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 16%;
  left: auto;
  transform:translateX(-50%);
}
@media (min-width: 640px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 32%;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 32%;
}
}
@media (min-width: 1024px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 16.5%;
    right: auto;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    left: 33%;
    right: auto;
}
}
.swiper-pagination-bullet{
  background: var(--primary-green) !important;
  opacity: 1 !important;
  transition:0.5s ;
 }
 .swiper-pagination-bullet-active{
  width: 16px;
  border-radius: 6px;
  transition:0.5s ;
 }
 /* triangle */
.right-triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 12px;
  border-color: transparent transparent transparent #2d2d2d;
}
.bottom-triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #2d2d2d transparent transparent transparent;
}

/*datepicker selected focused*/
.selected,.focused{
  background-color:var(--primary-green)!important;
}
.in-edit{
  border-color:white;
}

/*autofill*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}